.inputWrap {
  display: flex;
  margin-bottom: 16px;

  .label {
    display: flex;
    flex-direction: column;
    position: relative;

    .labelText {
      display: flex;
      margin-bottom: 5px;

      .labeltex {
        font-size: 12px;
        font-style: normal;
        line-height: normal;
        color: #1B2B41B8;
      }

      .star {
        color: #FF4238;
      }
    }

  }
}

.input {
  width: 336px;
  height: 57px;
  border-radius: 3px;
  border: 1px solid #1C375A29;
  padding:0 10px;
}

.hidden {
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 40px;
  right: 10px;
}


//input:focus {
//  outline: none !important;
//  border-color: blue;
//  transition: 0.3s ease;
//}
//
//.label input:focus + label,
//.label input:not(:placeholder-shown) + label{
//  color: blue;
//}
//
//.label label.focused {
//  color: blue;
//}


//.form-fields-group {
//  position: relative;
//}
//
//.form-fields-group-label {
//  position: absolute;
//  font-size: 13px;
//  color: #27252a;
//  font-family: 'Roboto', sans-serif;
//  top: 10px;
//  left: 15px;
//}

//.form-fields-input {
//  width: 300px;
//  padding: 30px 15px 10px;
//  border: none;
//  background: #EAEAEE;
//  color: red;
//  border-radius: 5px;
//  font-family: 'Roboto', sans-serif;
//  font-size: 15px;
//}

input:focus ~ label, label:focus {
  color: blue;
  border: 1px solid blue;
}



