.inputWrap {
  display: flex;
  margin-top: 16px;
  flex-direction: column;

  .label {
    margin-top: 16px;
    display: flex;
    flex-direction: column;

    .labelText {
      display: flex;
      margin-bottom: 5px;
    }

    .form {
      margin-top: 16px;
      margin-bottom: 16px;
      position: relative;
      display: flex;
      flex-direction: column;

      .star {
        position: absolute;
        top: -20px;
        left: 55px;
        color: #FF4238;
      }

      .star2 {
        position: absolute;
        top: -20px;
        left: 80px;
        color: #FF4238;
      }

      .labeltex {
        position: absolute;
        top: -20px;
        pointer-events: none; /* Чтобы метка не перехватывала события ввода */
        font-size: 12px;
        font-style: normal;
        line-height: normal;
        transition: all 0.3s ease;
      }

      input:focus {
        border: 1px solid blue;
      }
    }

  }
}

.input {
  width: 336px;
  height: 57px;
  border-radius: 3px;
  border: 1px solid #1C375A29;
  padding: 0 10px;
}

.hidden {
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 15px;
  right: 10px;
}


