.btnWrap {
  display: flex;
  margin-bottom: 31px;

  .btn {
    width: 336px;
    height: 56px;
    border-radius: 4px;
    background-color: #1676F3;
    padding: 8px 14px;
    text-align: center;
    border: 1px solid #1676F3;
    color: #FFFFFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
  }
}