body {
  margin: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 500;
  background: url("./assets/img/wp2.jpg") center center/cover no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
